# Data
bigdata/
*.tar.gz

# Models
*.pt
models/
!models/pattern_retarget_pants_v1.pt
!models/pattern_retarget_shirt_v2.pt

# Python
venv/
__pycache__/
*.pyc

# Outputs
outputs/
infer_plots*/
eval_*/
exported_pred*/

# Mesh / graphics
*.ply
*.png
*.svg

# Logs
*.log

# OS
.DS_Store
Thumbs.db
